<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Rotary
           Club of
           Tirunelveli
    </title>

    <link rel="icon"
          type="image/x-icon"
          th:href="@{/images/img1.png}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <link rel="stylesheet"
          th:href="@{/css/homeb.css}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>


<body>

<!--Navbar-->
<nav class="navbar navbar-expand-md bg-dark-subtle fixed-top ">

    <div class="container-fluid ">

        <a class="navbar-brand"
           href="#"><img th:src="@{/images/img2.png}"></a>

        <button class="navbar-toggler "
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center"
             id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       href="/home">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#aboutus"
                       role="button"
                       data-bs-toggle="dropdown">About
                                                 Us</a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                               href="/about">Rotary
                                             club
                                             of
                                             Tirunelveli</a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="/members">Members
                                               of
                                               Tirunelveli</a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="https://www.rotary.org/en"
                               target="_blank">Rotary
                                               International</a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="https://rotaryindia.org/Home.aspx"
                               target="_blank">Rotary
                                               India</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#events"
                       role="button"
                       data-bs-toggle="dropdown">Events</a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                               href="/upevents">Upcoming
                                                Events</a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="/pevents">Past
                                               Events</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#contact"
                       role="button"
                       data-bs-toggle="dropdown">Contact</a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="dropdown-item"
                               href="/findus">Find
                                              Us</a>
                        </li>

                        <li>
                            <a class="dropdown-item"
                               href="https://forms.rotaryindia.org/kaizeninfotechsolutionspvtltd/form/RotaryIndiaJoinUs/formperma/GjFYZIo47UATcU_2AtUIzRoEo8fCZ_dfLBtT87MjZUI"
                               target="_blank">Join
                                               Us</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>

        <button type="button"
                class="btn btn-success me-2">
            Donate
        </button>

        <button type="button"
                onclick="window.location.href='/adminlogin';"
                class="btn btn-light text-nowrap">
            Admin
            <i class="bi bi-box-arrow-in-right"
               width="16"
               height="16"></i>
        </button>

    </div>
</nav>


<!--Hero-->
<div class="hero-cus "
     th:style="|background-image: url('@{/images/img3.jpg}');|">

    <div class="d-flex justify-content-center align-items-center hero-text-cus">
        <p class="text-center">
            "Together,
            we're
            igniting
            hope,
            fostering
            connection,
            and
            building
            a
            brighter
            tomorrow
            for all"
        </p>
    </div>
</div>


<!--info section-->
<div class="container-fluid  position-relative inf">

    <div class="row p-4  gap-2 justify-content-center ">

        <!--when and where-->
        <div class="col-lg-5 col-sm-12 border rounded-4 shadow p-3 text-center bg-white">
            <h2 class="text-warning">
                WHEN
                AND
                WHERE
            </h2>
            <h5>Do
                we
                meet
            </h5>
            <!--info items-->
            <div
                    class="d-flex info-items justify-content-evenly mt-4"
                    th:each="var: ${Details}">

                <!--location-->
                <div
                        class="d-flex align-items-start">

                    <i class="bi bi-geo-alt   text-warning border border-warning border-2 rounded-2 m-2 p-1 ico"
                       width="16px"
                       height="16px"></i>

                    <div
                            class="text-start pt-1 text-capitalize"
                            th:text="${var.meetingPl}">
                        content
                        Lorem
                        ipsum

                    </div>
                </div>
                <!--timing-->
                <div class="d-flex   align-items-start">

                    <i class="bi bi-clock  text-warning  border border-warning border-2 rounded-2 m-2 p-1 ico1"
                       width="16px"
                       height="16px"></i>

                    <div
                            class="text-start  pt-1 text-capitalize"
                            th:text="${var.meetingDati}">
                        timing
                        Lorem
                        ipsum
                        dolor

                    </div>
                </div>

            </div>


        </div>

        <!--Theme-->
        <div
                class="col-lg-6 col-sm-12 border rounded-4 shadow p-0 bg-white position-relative "
                th:each="theme:${Theme}">

            <div class="theme"
                 th:style="|background-image: url('@{uploads/Home2Uploads/{fileName}(fileName=${theme.fileName})}');|">

                <div class=" d-flex justify-content-center align-items-center  border rounded-4 text-center text-warning theme-text ">
                    <p
                            class="display-6 text-uppercase"
                            th:text="${theme.thYear}">
                        Theme
                        Of
                        2024-2025
                    </p>
                </div>
            </div>
        </div>

        <!--Upcoming events-->
        <div
                class="col-lg-12 col-sm-12 bg-dark bg-gradient border rounded-4 shadow p-3   text-light text-center"
                th:each="upEve:${UpEvent}">
            <h1
                    class="text-bg-danger lh-base rounded">
                Upcoming
                Events
            </h1>
            <p
                    class=" fst-italic fs-4">
                Welcoming all
                Members
            </p>
            <p class="fs-6 fst-italic"
               th:text="${upEve.upEvent}">
                Offering food
                to a oldage Home
            </p>
        </div>

    </div>
</div>


<!--Who we are-->
<div class="container-fluid bg-light p-5 ">

    <div class="d-flex flex-column align-items-center border border-5 border-start-0 border-end-0 border-primary rounded-4  ">

        <div>
            <h1 class="text-center pt-4 text-primary">
                Who
                We
                Are
            </h1>

            <p class="text-secondary text-center">
                The
                Rotary
                Club
                is a
                global
                network
                of
                community
                leaders
                dedicated
                to
                tackle
                the
                world's
                most
                pressing
                humanitarian
                challenges.
                With
                a
                rich
                history
                spanning
                over
                a
                century,
                our
                organization
                brings
                together
                professionals
                from
                all
                walks
                of
                life
                who
                share
                a
                commitment
                to
                service
                above
                self.
                From
                local
                initiatives
                that
                address
                issues
                like
                education,
                health,
                and
                poverty
                to
                international
                projects
                aimed
                at
                eradicating
                diseases
                and
                promoting
                peace,
                Rotary
                members
                work
                tirelessly
                to
                make
                a
                difference
                in
                the
                lives
                of
                others.
            </p>
        </div>


        <button class="btn btn-outline-primary mb-2 text-nowrap
      "
                onclick="window.location.href='/about';">
            know
            more
            <i class="bi bi-chevron-double-right"
               width="16"
               height="16"></i>
        </button>

    </div>
</div>


<!--Footer-->

<div class="container-fluid overflow-x-auto back">
    <footer class=" py-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="/home"
                   class="nav-link px-2 text-white">Home</a>
            </li>

            <li class="nav-item">
                <a href="https://forms.rotaryindia.org/kaizeninfotechsolutionspvtltd/form/RotaryIndiaJoinUs/formperma/GjFYZIo47UATcU_2AtUIzRoEo8fCZ_dfLBtT87MjZUI"
                   target="_blank"
                   class="nav-link px-2 text-white">Join
                                                    Us</a>
            </li>

            <li class="nav-item">
                <a href="/findus"
                   class="nav-link px-2 text-white">Contact</a>
            </li>

            <li class="nav-item">
                <a href="#"
                   class="nav-link px-2 text-white">Guide</a>
            </li>

        </ul>

        <a class="navbar-brand "
           href="/home"><img class="fimg"
                             th:src="@{/images/img12.svg}"></a>

        <ul class="nav justify-content-center  pb-3 mb-3 float-end">

            <li class="nav-item">
                <a href="#"
                   class="nav-link px-2 ">
                    <i class="bi bi-facebook ico "
                       width="16px"
                       height="16px"></i></a>
            </li>

            <li class="nav-item">
                <a href="#"
                   class="nav-link px-2 ">
                    <i class="bi bi-instagram ico "
                       width="16px"
                       height="16px"></i></a>
            </li>

            <li class="nav-item">
                <a href="#"
                   class="nav-link px-2 ">
                    <i class="bi bi-twitter-x ico "
                       width="16px"
                       height="16px"></i></a>
            </li>
        </ul>

    </footer>
</div>


</body>
